body {
    text-align:center;
    font-family: Arial, sans-serif;
    place-items: center; /* Centriranje vsebine v sredini */
}

.gumb {
    margin-top: 60px;
    margin-bottom: 60px;
    display: inline-block;
    padding: 15px 30px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #7fa4ee; /* Modra barva */
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

.gumb:hover {
    background-color: #5382e0; /* Temnejša modra ob prehodu */
    transform: scale(1.05);
}

.gumb:active {
    background-color: #00408d; /* Še temnejša modra ob kliku */
    transform: scale(0.98);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* razmik med vrsticami */
    max-width: 500px;
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-row label {
    width: 180px;
    font-weight: bold;
    text-align: left; /* <-- poravnava besedila na levo */
}

.input-row input {
    flex: 1;
    padding: 6px 10px;
    font-size: 13px;
}

.potrdi {
    width: 100px;
    height: 28px;
    font-size: 17px;
    align-self: center;
    margin-top: 20px;
}
